*.tiff
*.tif
*.txt
*.pptx
*.png
*.pdf
*.obj
*.h5
*.pyc
*.swp
autonomous/
temp/
Scan/temp/
.DS_Store
/Analysis/xrf_batch/config_file.json
ptychoSave/
__pycache__/
.idea/
Archived/elog/__pycache__/
